@tailwind base;
@tailwind components;
@tailwind utilities;

/* import css files  */
@import url("./mediaQueries.css");

@layer components {
  .nav_item {
    @apply sm:text-[2.5rem] xl:text-[5.625rem] md:text-[3.5rem] text-[1.563rem]  
     md:leading-[86.14px] leading-[29.5px];
  }
  .custom-sec {
    @apply px-[9px] mt-[26px];
  }
  .contoll-btn {
    @apply inline-block p-2 mr-10 text-3xl border border-black rounded-full lg:text-4xl lg:p-3;
  }
  .input_field {
    @apply outline-none border-none placeholder-black placeholder:text-[21px] mt-1
  }
}

/* .workBanerBg {
  background-image: url(../public/images/workBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
} */

body{
  overflow-x: hidden;
}

summary::marker {
  content: "";
}
.gallery > span {
  min-width: 100%;
}
@font-face {
  font-family: "FoundersGrotesk-Medium";
  src: url("../public/fonts/FoundersGrotesk-Medium.ttf");
}

@font-face {
  font-family: "FoundersGrotesk-Regular";
  src: url("../public/fonts/FoundersGrotesk-Regular.ttf");
}

@font-face {
  font-family: "Signifier-Regular";
  src: url("../public/fonts/Signifier-Regular.ttf");
}

@font-face {
  font-family: "Signifier-Light";
  src: url("../public/fonts/Signifier-Light.ttf");
}

/* custom css */
.activeTeamDetail {
  display: block !important;
}
.activeTeam {
  grid-column-start: 1 !important;
  grid-row-start: 1 !important;
}
/* .row-num{
  grid-row-start: 1;
} */
.team > div.row-num:nth-child(1),
.team > div.row-num:nth-child(2),
.team > div.row-num:nth-child(3),
.team > div.row-num:nth-child(4),
.team > div.row-num:nth-child(5) {
  grid-row-start: 1;
}
.team > div.row-num:nth-child(6),
.team > div.row-num:nth-child(7),
.team > div.row-num:nth-child(8),
.team > div.row-num:nth-child(9),
.team > div.row-num:nth-child(10) {
  grid-row-start: 2;
}
.team > div.row-num:nth-child(11),
.team > div.row-num:nth-child(12),
.team > div.row-num:nth-child(13),
.team > div.row-num:nth-child(14),
.team > div.row-num:nth-child(15) {
  grid-row-start: 3;
}
.team > div.row-num:nth-child(16),
.team > div.row-num:nth-child(17),
.team > div.row-num:nth-child(18),
.team > div.row-num:nth-child(19),
.team > div.row-num:nth-child(20) {
  grid-row-start: 4;
}
/* #waveform>wave:nth-child(1){
  display: none !important;
} */
#waveform {
  width: 100%;
}
#waveform > wave > wave {
  border-right: none !important;
}
.gtop:nth-child(3) {
  margin-top: 12px !important;
}
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1120px) {
  div.eandt > div:nth-child(6),
  div.eandt > div:nth-child(7),
  div.eandt > div:nth-child(8),
  div.eandt > div:nth-child(10) {
    margin-top: -22rem !important;
  }
}
@media (min-width: 1121px) {
  div.eandt > div:nth-child(6),
  div.eandt > div:nth-child(7),
  div.eandt > div:nth-child(8),
  div.eandt > div:nth-child(10) {
    margin-top: -15rem !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .team {
    display: none;
  }
}

@media (min-width: 340px) and (max-width: 468px) {
  .workbox {
    height: 340px !important
  }
}
@media (min-width: 468px) and (max-width: 640px) {
  .workbox {
    height: 400px !important
  }
}

.navlinks{
  font-size: 6vw !important;
}
.gallery-section  .halfimage:nth-child(even) {
  padding-right: 5px;
}
.gallery-section  .halfimage:nth-child(odd) {
  padding-left: 5px;
}