@tailwind base;
@tailwind components;
@tailwind utilities;

/* import css files  */
@import url('./mediaQueries.css');

@layer components {
  .nav_item {
    @apply sm:text-[2.5rem] xl:text-[5.625rem] md:text-[3.5rem] text-[1.563rem]  
     md:leading-[86.14px] leading-[29.5px];
  }
  .custom-sec {
    @apply px-[9px] mt-[42px];
  }
  .custom-sec2 {
    @apply px-[9px];
  }

  .contoll-btn {
    @apply inline-block p-2 mr-10 text-3xl rounded-full lg:text-4xl lg:p-3;
  }

  .input_field {
    @apply outline-none border-none placeholder-black placeholder:text-[21px] mt-1;
  }
}

.campo_heading {
  @apply font-FoundersGroteskMedium cursor-pointer  text-[42px] leading-[50.4px]  md:text-[48px] md:leading-[57.6px]  xl:text-[54px] xl:leading-[64.8px] 2xl:text-[60px] 2xl:leading-[72px];
}

.campo_bodyfont {
  @apply font-FoundersGroteskRegular text-[16px] leading-[19.2px]  md:text-[19px] md:leading-[22.8px] xl:text-[21px] xl:leading-[25.2px]  2xl:text-[24px] 2xl:leading-[28.8px];
}

.campo_bodyfont2 {
  @apply font-FoundersGroteskRegular text-[13px] leading-[15.6px]  md:text-[15px] md:leading-[18px] xl:text-[17px] xl:leading-[20.4px]  2xl:text-[18px] 2xl:leading-[21.6px];
}

.campo_heading2 {
  @apply font-FoundersGroteskMedium cursor-pointer  text-[21px] leading-[25.2px]  md:text-[24px] md:leading-[28.8px]  xl:text-[27px] xl:leading-[32.4px] 2xl:text-[30px] 2xl:leading-[36px];
}
.campo_square {
  @apply bg-[#FCB450] w-[14px] h-[14px] md:w-[18px] md:h-[18px]  xl:w-[20px] xl:h-[20px] 2xl:w-[22px] 2xl:h-[22px];
}

/* .workBanerBg {
  background-image: url(../public/images/workBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
} */

body {
  overflow-x: hidden;
}

summary::marker {
  content: '';
}
.gallery > span {
  min-width: 100%;
}
@font-face {
  font-family: 'FoundersGrotesk-Medium';
  src: url('../public/fonts/FoundersGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'FoundersGrotesk-Regular';
  src: url('../public/fonts/FoundersGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'Signifier-Regular';
  src: url('../public/fonts/Signifier-Regular.ttf');
}

@font-face {
  font-family: 'Signifier-Light';
  src: url('../public/fonts/Signifier-Light.ttf');
}

@font-face {
  font-family: 'Signifier-RI';
  src: url('../public/fonts/Signifier-Light.ttf');
}

/* custom css */
.activeTeamDetail {
  display: block !important;
}
.activeTeam {
  grid-column-start: 1 !important;
  grid-row-start: 1 !important;
}
/* .row-num{
  grid-row-start: 1;
} */
.team > div.row-num:nth-child(1),
.team > div.row-num:nth-child(2),
.team > div.row-num:nth-child(3),
.team > div.row-num:nth-child(4),
.team > div.row-num:nth-child(5) {
  grid-row-start: 1;
}
.team > div.row-num:nth-child(6),
.team > div.row-num:nth-child(7),
.team > div.row-num:nth-child(8),
.team > div.row-num:nth-child(9),
.team > div.row-num:nth-child(10) {
  grid-row-start: 2;
}
.team > div.row-num:nth-child(11),
.team > div.row-num:nth-child(12),
.team > div.row-num:nth-child(13),
.team > div.row-num:nth-child(14),
.team > div.row-num:nth-child(15) {
  grid-row-start: 3;
}
.team > div.row-num:nth-child(16),
.team > div.row-num:nth-child(17),
.team > div.row-num:nth-child(18),
.team > div.row-num:nth-child(19),
.team > div.row-num:nth-child(20) {
  grid-row-start: 4;
}
/* #waveform>wave:nth-child(1){
  display: none !important;
} */
#waveform {
  width: 100%;
}
#waveform > wave {
  overflow: hidden !important;
}
#waveform > wave > wave {
  border-right: none !important;
}
.gtop:nth-child(3) {
  margin-top: 12px !important;
}
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1120px) {
  div.eandt > div:nth-child(6),
  div.eandt > div:nth-child(7),
  div.eandt > div:nth-child(8),
  div.eandt > div:nth-child(10) {
    margin-top: -22rem !important;
  }
}
@media (min-width: 1121px) {
  div.eandt > div:nth-child(6),
  div.eandt > div:nth-child(7),
  div.eandt > div:nth-child(8),
  div.eandt > div:nth-child(10) {
    margin-top: -15rem !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .team {
    display: none;
  }

  #waveform wave {
    width: 300px;
    max-width: 760px;
  }

  .book_image img {
    width: 64px !important;
    height: 64px !important;
  }
  .hipe-custom {
    left: 9px;
    right: 9px;
  }
}

@media (min-width: 340px) and (max-width: 468px) {
  .workbox {
    height: 340px !important;
  }
}
@media (min-width: 468px) and (max-width: 640px) {
  .workbox {
    height: 400px !important;
  }
}

.navlinks {
  font-size: 6vw !important;
}

.gallery-section .fullimage {
  margin-top: 9px !important;
}

.halfimage {
  position: relative;
  padding-top: 9px;
}
.gallery-section > .halfimage::after {
  content: '';
  width: 9px;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 10;
  right: -9px;
  top: 0;
}
#waveform > wave::wave-webkit-scrollbar {
  display: none;
}
