@media (min-width:468px) and (max-width:639px){
    .bm{
        height: 380px;
    }
}



@media (min-width: 768px) and (max-width: 1023px) {
    .team > div.row-num:nth-child(1),
    .team > div.row-num:nth-child(2),
    .team > div.row-num:nth-child(3),
    .team > div.row-num:nth-child(4) {
      grid-row-start: 1;
    }
    .team > div.row-num:nth-child(5),
    .team > div.row-num:nth-child(6),
    .team > div.row-num:nth-child(7),
    .team > div.row-num:nth-child(8) {
      grid-row-start: 2;
    }
    .team > div.row-num:nth-child(9),
    .team > div.row-num:nth-child(10),
    .team > div.row-num:nth-child(11),
    .team > div.row-num:nth-child(12) {
      grid-row-start: 3;
    }
    .team > div.row-num:nth-child(13),
    .team > div.row-num:nth-child(14),
    .team > div.row-num:nth-child(15),
    .team > div.row-num:nth-child(16) {
      grid-row-start: 4;
    }
    .team > div.row-num:nth-child(17),
    .team > div.row-num:nth-child(18),
    .team > div.row-num:nth-child(19),
    .team > div.row-num:nth-child(20) {
      grid-row-start: 5;
    }
  }
  